@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#0B0909;
    color: #ffffff;
}
h1{
    text-align: center;
    padding: 1rem 3rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}
button{
    font-size: .87rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: capitalize;
    padding: .8rem 3rem;
    border:none;
    border-radius: .5rem;
    background-color:#ffffff;
    color: rgb(44, 44, 48);
    font-weight: 600;
}
button:hover{
    background-color: #D6D6D6;
    color: #0B0909;
}
li{
    line-height: 2rem;
    text-transform: capitalize;
    width: 40rem;
    cursor: pointer;
    list-style: none;
}

input{
    width: 81%;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: .5rem;
    border: none;
    padding: 1rem 2rem;
    margin: 0 auto;
    color: rgb(44, 44, 48);
}
.add{
    display: flex;
    margin-bottom: 2rem;
}
.list-div{
    margin: .3rem 0;
    border-radius: .5rem;
   
    padding: .7rem 2rem;
    display: grid;
    grid-template-columns:1fr 10fr 1fr 1fr;
    justify-content: start;
}
.list-div:hover{
  background-color: rgb(44, 44, 48);
}
.hidden{
    display: none;
}
.todo{
    width: 70rem;
    margin: 0 auto;
}
button,.delete-btn,.edit{
    cursor: pointer;
}
.checkbox,.checkmark{
    height: 2rem;
}
.checkmark{position: absolute;
}
.checked{
   color: #8C8C8C
}
.editBox{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(7, 6, 6, 0.664);
    width: 100%;
    height: 100%;
    z-index: 2;
    }

.editDiv{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
 
}
.updateBtn{
    background-color: rgb(44, 44, 48);
    color: #ffffff;
    margin-left: 2rem;
}
.inputEdit{
    font-weight: 600;
    width: 30%;
    height: 3rem;
    margin: 0;
}