@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#0B0909;
    color: #ffffff;
}
h1{
    text-align: center;
    padding: 1rem 3rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}
button{
    width: 18%;
    font-size: .87rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding: 1rem;
    border:none;
    border-radius: .5rem;
    background-color:#ffffff;
    color: rgb(44, 44, 48);
    font-weight: 600;
}
button:hover{
    background-color: #D6D6D6;
    color: #0B0909;
}
li{
    align-self: center;
    line-height: 2rem;
    padding: 0 2rem;
    cursor: pointer;
    list-style: none;
}
input{
    text-transform: capitalize;
    width: 60%;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: .5rem;
    border: none;
    padding: 1rem;
    margin-right: 2%;
    color: rgb(44, 44, 48);
}
section{
    width: 100%;
}
#add{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.list-div{
    text-transform: capitalize;
    padding: .7rem ;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 1fr;
}
.list-div:hover{
    border-radius: .5rem;
  background-color: rgb(44, 44, 48);
}
.hidden{
    display: none;
}
.edit{
    padding: 0 1rem;
}
button,.delete-btn,.edit{
    cursor: pointer;
     align-self: center;
}
.checkbox,.checkmark{
    height: 2rem;
}
.checkmark{position: absolute;
}
.checked{
   color: #8C8C8C
}
.editBox{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(7, 6, 6, 0.842);
    width: 100%;
    height: 100%;
    z-index: 2;
    }

.editDiv{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
 
}
.updateBtn{
    align-self: center;
    background-color: rgb(44, 44, 48);
    color: #ffffff;
    margin-left: 2rem;
}
.inputEdit{
    font-weight: 600;
    width: 30%;
    height: 3rem;
    margin: 0;
}
#task-list{
    margin: 0 auto;
    width: 80%;
}
.reset{
    height: 1rem;
    position: fixed;
    top:80%;
    left: 90%;
    right:10%;
    cursor: pointer;
}
.empty-list{
    text-align: center;
}
input:focus, button:focus, p:focus{
    outline: none !important;
}
#close-editBox{
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 90%;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media only screen and (max-width: 768px) {
input{
     width: 50%;
    
}
}